<span class="timeline__fill" data-action="<%= action %>" <%= data_attrs(assignment_week) %>>
  <% unless assignment_week.id == "bench" || assignment_week.id == 0 %>
    <%= link_to assignment_week.max_billable_hours.to_i , "" %>
    <% if assignment_week.in_the_past? %>
      <br />
      <% color = 'black' %>
      <% color = 'red' if assignment_week.missing_hours > 0 %>
      <span style="font-size: 75%; color: <%= color %>;">
      </span>
    <% end %>
  <% end %>
</span>
