<%# 
  drag assignment week
  for an empty cell
  sets actions for the controller (pulled out to helper due to length)
  sets other data attributes (pulled out to helper due to length)
%>
<span class="timeline__empty <%= this_week_class(week) %>" data-action="<%= action %>" <%= data_attrs(nil, assignment_id, week) %>>
  <% unless assignment_id == 0 || assignment_id == "bench" %>
    <%= link_to "add new", 
      "", 
      class: "new-assignment-week-link",
      draggable: false 
    %>
  <% end %>
</span>
