<%# 
  individual toggle button -- body
  sets this element as engagementBodyTarget on the nested controller
%>
<div class="u-none" data-toggle-engagement-target="engagementBody" data-engagement-assignment-target="engagementBody">
  <%= render partial: 'assignments/assignment', collection: engagement.assignments.sort %>
</div>