<%= stylesheet_link_tag "scheduler" %>

<%# 
  toggle all button
  instantiates toggle_engagement controller
  sets allValue on this instance to true
  sets hideClass to u-none
  since this is a parent controller, it doesn't have access to actions/targets/classes set in nested controllers
%>
<div
  class="scheduler"
  data-controller="toggle-engagement"
  data-toggle-engagement-hide-class="u-none"
  data-toggle-engagement-all-value="true"
>
  <header class="assignment header">
    <div class="assignment__role header__role">
    </div>
    <ul class="assignment__timeline header__timeline">
      <% grid_dates.each do |week| %>
        <li class="<%= this_week_class(week) %>"> <%= week.strftime("%m/%d") %> </li>
      <% end %>
    </ul>
    </header>
    <div class="tabset">
      <input type="radio" name="tabset" id="tab1" aria-controls="current" checked>
      <label for="tab1">Current</label>
      <%# 
        toggle all button
        sets this element as buttonTarget
        sets click action to call #toggle on stimulus controller
      %>
      <button
        style="margin-left:auto;"
        class="toggle-button__group"
        data-toggle-engagement-target="button"
        data-action="click->toggle-engagement#toggle"
      >
        Show all
      </button>
      <div class="tab-panels">
        <section id="current" class="tab-panel">
          <% @engagements.each do |engagement| %>
            <%= render partial: 'engagement', locals: { engagement: engagement } %>
          <% end %>
        </section>
      </div>
    </div>

</div>
